.NotFound {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.NotFound__first_line {
  font-size: 3rem;
}

.NotFound__second_line {
  
}
