.ChatMessage {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.ChatMessage__left {
  margin-right: 1rem;
}

.ChatMessage__body {
}

.ChatMessage__heading {
  font-size: 0.9rem;
  font-weight: bolder;
}

.ChatMessage__time {
  float: right;
}
